name: Test
on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install ImageMagick for generate-web-icons
        run: sudo apt-get install -y imagemagick

      - name: ShellCheck
        run: ./tests/shellcheck.sh

      - name: Test
        run: ./tests/all.sh
