name: Test
on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pollenjp/setup-shfmt@v1

      - name: Install ImageMagick for generate-web-icons
        run: sudo apt-get install -y imagemagick

      - name: check format with shfmt
        run: ./tests/shfmt.sh

      - name: lint with shellcheck
        run: ./tests/shellcheck.sh

      - name: Test
        run: ./tests/all.sh
